@model IEnumerable<ToDo>

    <div class=" row">
        <div class ="col-md-2">
            <form asp-action="Filter" method="post">
                <div class="mb-3">
                    <label class="form-label">Category:</label>
                    <select name="filter" class="form-select" 
                    asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name", ViewBag.Filters.CategoryId))">
                    <option value="all">All</option>
                </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Due:</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Status:</label>
                    <select name="filter" class="form-select"
                    asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
                </div>
                <button type="submit" class="btn" style="background-color: mediumpurple; color: white;">Filter</button>
                <a asp-action="Index" asp-route-id="" class="btn" style="background-color: mediumpurple; color: white;">Clear</a>

            </form>
        </div>
        <div class ="col-md-10">
            <form asp-action="MarkComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                <table class="table table-bordered table-striped mt-2">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Due Date</th>
                            <th>Status</th>
                            <th class="w-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ToDo task in Model)
                        {
                            string overdue = task.Overdue? "bg-warning" : "";
                            <tr>
                                <td>@task.Description</td>
                                <td>@task.Category.Name</td>
                                <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                                <td>
                                    @if(task.StatusId == "open")
                                    {
                                        <button type="submit" class="btn btn-sm" style="background-color: mediumpurple; color: white"
                                        name="@nameof(ToDo.Id)" value="@task.Id">Mark Completed</button>
                                    
                                    }
                                </td>
                            </tr>
                        
                        }
                    </tbody>
                </table>

            </form>
            <form asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.FilterString">
                <a asp-action="Add" class="btn" style="background-color: mediumpurple; color:white">Add new task</a>
                <button type="submit" class="btn" style="background-color: mediumpurple; color: white">Delete completed tasks</button>
            </form>
        </div>
    </div>
